<h1>Editing lista</h1>

<% form_for(@lista) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :objeto_type %><br />
    <%= f.text_field :objeto_type %>
  </p>
  <p>
    <%= f.label :objeto_id %><br />
    <%= f.text_field :objeto_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @lista %> |
<%= link_to 'Back', listas_path %>
