<p>
  <b>Dir1:</b>
  <%=h @direccion.dir1 %>
</p>

<p>
  <b>Dir2:</b>
  <%=h @direccion.dir2 %>
</p>

<p>
  <b>Distrito:</b>
  <%=h @direccion.distrito %>
</p>

<p>
  <b>Telefono1:</b>
  <%=h @direccion.telefono1 %>
</p>

<p>
  <b>Telefono2:</b>
  <%=h @direccion.telefono2 %>
</p>

<p>
  <b>Email1:</b>
  <%=h @direccion.email1 %>
</p>

<p>
  <b>Email2:</b>
  <%=h @direccion.email2 %>
</p>

<p>
  <b>Objeto type:</b>
  <%=h @direccion.objeto_type %>
</p>

<p>
  <b>Objeto:</b>
  <%=h @direccion.objeto_id %>
</p>


<%= link_to 'Edit', edit_direccion_path(@direccion) %> |
<%= link_to 'Back', direccions_path %>
